@layer base {
	:root {
		color-scheme: light;

		--primary-font: "Noto Sans", sans-serif;
		--secondary-font: "Cormorant Garamond", serif;

		--dark-green: #324f4c; // paragraph text + h3 text +
		--dark-blue: #213545; // paragraph text + h3 text +

		--cream: #f7f3ed;
		--cream2: #e6dac9;

		--gold: #d5b98c;
		--dark-gold: #b5945e;

		--white: #ffffff;
	}
}

* {
	font-family: var(--primary-font);
	line-height: 1.6;
	font-size: 16px;

	@media screen and (min-width: 768px) {
		font-size: 20px;
	}
}

h1 {
	color: var(--dark-gold);
	font-family: var(--secondary-font);
	font-weight: 500;
	font-size: 48px;
	line-height: 1;
	margin: 0;
	text-align: center;
}

h2 {
	font-family: var(--secondary-font);
	font-weight: 500;
	font-size: 40px;
	line-height: 1;
	margin: 24px 0;
}

h3 {
	font-family: var(--primary-font);
	font-weight: 600;
	font-size: 24px;
}

h4 {
	font-family: var(--primary-font);
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 1em;
}

h6 {
	font-size: 24px;
	font-weight: 600;
	line-height: 40px;
}

p {
	color: inherit;
	font-family: var(--primary-font);
	font-size: inherit;
	font-weight: 400;
	margin-bottom: 1em;
	line-height: 32px;
}

a {
	font-size: inherit;
	text-decoration: underline;
}

.button {
	border-radius: 16px;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	padding: 12px 16px;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}

	&.primary {
		background-color: var(--primary);
		color: var(--secondary);

		&:hover {
			background-color: var(--tertiary);
		}
	}

	&.secondary {
		border: 1px solid var(--secondary);
		color: var(--secondary);

		&:hover {
			border: 1px solid var(--tertiary);
			color: var(--tertiary);
		}
	}

}

.subhead {
	color: var(--dark-green, #324f4c);
	display: block;
	font-family: var(--primary-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	text-align: center;
}

.cont-page {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	@media (max-width: 1280px) {
		max-width: 100%;
		margin-right: 5%;
		margin-left: 5%;
	}
}

.hero {
	--Gradient: linear-gradient(180deg,
			rgba(0, 0, 0, 0.8) 0.86%,
			rgba(0, 0, 0, 0) 80.31%);
	background: var(--Gradient,
			linear-gradient(1deg, rgba(0, 0, 0, 0.8) 0.86%, rgba(0, 0, 0, 0) 80.31%));
}

footer {
	line-height: 2;

	.footer-text {
		color: var(--secondary);
		font-size: 13px;
		margin-bottom: 0px;
		line-height: 25px;
	}

	p,
	a {
		color: var(--secondary);
		font-size: 13px;
	}

	a {
		text-decoration: underline;
	}

	.button {
		margin-bottom: 18px;
	}

	nav {
		a {
			color: var(--secondary);
			font-size: 16px;
			font-weight: 700;
			display: block;
			text-decoration: none;
		}
	}

	h4 {
		color: var(--gold);
	}

	.social svg {
		fill: var(--gold);
		stroke: var(--gold);
		height: 36px;
		width: 36px;
		padding-right: 16px;
		padding-bottom: 16px;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 88px;
	}

	h2 {
		font-size: 48px;
	}
}

// TODO move to another file
// Custom Slick Slider
.slick-slider {
	.slick-list {
		overflow: auto;
		overflow-y: visible;
		overflow-x: clip;
		padding: 0;
	}

	.slick-current {
		.content {
			opacity: 1;
		}
	}
}

@media (min-width: 640px) {
	.slick-slider {
		margin-top: 140px;
	}

	.slick-current {
		margin-top: -120px;

		.content {
			opacity: 1;
		}
	}
}

@media (min-width: 821px) {
	.slick-slider {
		.slick-list {
			overflow: auto;
			overflow-y: visible;
			overflow-x: clip;
			padding: 0 0 0 42% !important;
		}
	}
}