@tailwind base;
@tailwind components;
@tailwind utilities;

// Files that make global changes or values
@import "./normalize.scss";

// Files that (typically) style <html> <body> <main> and other components used to layout the page
@import "./layouts/base.scss";
@import "./loading.scss";

// Files that style individual 'Lego Bricks' of the site
// @import "./components/footer.scss";
// @import "./components/header.scss";

// Files that style a specific page, may even overwrite generic /components/ file styles
// @import "./pages/home.scss";

// Import all custom CSS files here

@layer base {
	:root {
		//red
		--background: 358 70% 42%;
		//black
		--background-secondary: 345 6% 13%;

		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		//  --accent: 210 40% 96.1%;
		--accent: 0 0% 85%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		color-scheme: light;
	}
}

#__next {
	height: 100%;

	// Use if navbar is fixed and shouldn't go over hero/content
	// >main {
	// 	padding-top: 89px;
	// }
}

.cont-page {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	@media (max-width: 1280px) {
		max-width: 100%;
		margin-right: 10%;
		margin-left: 10%;
	}

	@media (max-width: 350px) {
		max-width: 100%;
		margin-right: 5%;
		margin-left: 5%;
	}
}

//buttons
.button {
	font-family: var(--font-swiss-condensed);
	font-size: 16px;
	line-height: 1;
	min-width: 10em;
	padding: 12px 16px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-wrap: nowrap;
	transition: all 0.2s;
}

// Video Hero Start

.video-docker::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(45deg,
			#ffffff 0%,
			rgba(255, 255, 255, 0) 47.47%);

	// background: linear-gradient(45deg,
	// 		rgba(243, 243, 243, 1) 0%,
	// 		rgba(196, 196, 196, 0.5) 22%);
	z-index: 1;
}

// Video Hero End


.header-and-text {
	h2 {
		font-size: 22px;
		font-weight: 400;

		@media screen and (max-width: 1025px) {
			text-align: center;
		}
	}
}

.carousel-container {
	@media (min-width: 1024px) {
		box-shadow: 0px -20px 0px 0px #ffffff inset,
			-30px 0px 20px 0px #ffffff inset, 0px 20px 0px 0px #ffffff inset,
			30px 0px 20px 0px #ffffff inset;
	}
}

.accordion-content,
.parse-text {
	a {
		text-decoration: underline;
	}

	ul,
	ol {
		list-style-type: auto;
		list-style-position: outside;
		margin-bottom: 1em;
		margin-left: 1em;
		padding-left: 1em;
	}
}

@media (min-width: 1024px) {
	.button {
		font-size: 1em;
		min-width: 12em;
		padding: 18px 30px;
	}
}

.parse-text a {
	text-decoration: underline;
}

#video {
	// position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 100vh;
		transform: translate(-50%, -50%);

		@media (min-aspect-ratio: 16/9) {
			height: 56.25vw;
		}

		@media (max-aspect-ratio: 16/9) {
			width: 177.78vh;
		}
	}
}

.cta-img-lg {
	box-shadow: 13px 10px 8px 1px rgb(0 0 0 / 0.25);
}

.cta-img-sm {
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* global.css */
html body[data-scroll-locked] {
	overflow: visible !important;
}

#siteby {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 1% 1% 30px 1%;
	text-transform: uppercase;
	vertical-align: top;
	text-align: center;
	display: flex;
	gap: 3px;
	justify-content: end;
	margin-right: 5px;

	@media (max-width: 1024px) {
		justify-content: center;
		padding-bottom: 30px;
	}

	a {
		color: #ffffff;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		display: flex;
		gap: 6px;

		&:hover {
			color: #D22D02;
		}

		img {
			height: 18px;
			width: auto;
			vertical-align: middle;
		}
	}
}